                                /*  Page Accueil  */
body{
    margin : 0px;
    padding-left: 1%;
    padding-right : 1%;
    background: #000000; 
    background: -webkit-linear-gradient(#000000,#434343);  /* dégrader de couleur pour tous les body */
    background: linear-gradient(  #000000,#434343);
    font-family: century;
}

.menu{                              /* Blocks menue  */
    margin-left: 2%;
    margin-right: auto;
    height: 100%;
    width: 98%;
    font-size: 2em;
}
header{                                 /* tete de la page */
    background-color: black;
    height: 4%;
    width: 100%;
    display:inline-block;
}

.menu , a{                          /* on enléve le style des lien  */
    text-decoration: none;
    color : white;

}

.teteac{                        /*  block du menue pour accueil */
    background:  #a37630;
    color: #fff;
    width: 20%;
    height: 100%;
    border-style:double;
    border-width: 1px ;
    border-color : black;
    float: left;
    border-bottom: none;
    border-top : none;
}

.teteacT{                       /* texte du block pour le bouton accueil */
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top:7%;
}

.tetehist{                          /* premier block du menue pour histoire */
    background: #a37630;
    color: #fff;
    width: 20%;
    height: 100%;  
    float: left;
    border-style:double;
    border-width: 1px ;
    border-color : black;
    border-bottom: none;
    border-top : none;
}

.tetehistT{                         /* texte du block pour le bouton histoire */
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top:7%;
}

.teteinfo{                           /*  block du menue pour information */
    background: #a37630;
    color: #fff;;
    width: 20%;
    height: 100%;
    float: left;
    border-style:double;
    border-width: 1px ;
    border-color : black;
    border-bottom: none;
    border-top : none;
}

.teteinfoT{                           /* texte du block pour le bouton information */
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top:7%;
}

.tetebib{                                 /*  block du menue pour bibliographie */
    background: #a37630;
    color: #fff;
    width: 20%;
    height: 100%;
    float: left;
    border-style:double;
    border-width: 1px ;
    border-color : black;
    border-bottom: none;
    border-top : none;
}

.tetebibT{                                 /* texte du block pour le bouton bibliograpgie */
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top:7%;
    word-wrap: break-word;
}

.logoiut{                               /* logo de l'iut dans le menue de navigation */
    width: 15%;
    height: 100%;
    float: left;
}

.logo{
    width: 100%;
    height: 100%;
}

.title{                             /* block du libellé de la page */
   
    height: 6%;
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.corp{                                            /* cette balise encadre tous se qui a dans le site */
    
    color:white;
    width: 100%;
    min-width: 900px;
    height: 2000px;
    min-height: 40%;
}

.title1{                                    /* contenue du libellé  */
    width: 50%;
    height: 100%;
    background-color: #a37630;
    float:left;

}

.titleT{                                    /* texte du libellé */
    width: 50%;
    height: 100%;
    background-color: #a37630;
    float: right;
}

.def{                                               
    margin-top: 2%;
    width: 80% ;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2%;
    border-color: black;
}

.defT{
    text-align: center;
    width: 100%;
    max-height: 100%;
    
    
}

.hum{                           /* titre de la page d'accueil*/
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    padding-top : 4%;
    font-size: 2em;
}

.logosite{
    width: 100%;
    height: 100%;
}

.center{

    width: 99%;
    height: 65%;
    margin-top: 4%
}

.theme1{                                       /* contenue de la page  */
    width: 99%;
    height: 20%;
}

.theme2{
    width: 99%;
    height: 20%;
    margin-top: 2%;

}

.theme3{
    width: 99%;
    height: 20%;
    margin-top: 3%;

}

.imag1{
    width: 40%;
    height: 100%;
    float: left;
}

.img1{
    width: 100%;
    height: 100%;
}

.text1{
    width: 50%;
    height: 100%;
    float: left;
    font-size: 100%;
    text-align: center;
    margin-left: 5%
}

.imag2{
    width: 40%;
    height: 100%;
    float: right;
}

.img2{
    width: 100%;
    height: 100%;
}

.text2{
    width: 50%;
    height: 100%;
    float: right;
    font-size: 100%;
    text-align: center;
    margin-right: 5%
}

.imag3{
    width: 40%;
    height: 100%;
    float: left;
}

.img3{
    width: 100%;
    height: 100%;
}

.text3{
    width: 50%;
    height: 100%;
    float: right;
    font-size: 100%;
    text-align: center;
    margin-left: 5%;
} 



footer{                                 /* pied de page visible par un trait blanc */
    border-top : solid;
    width: 100%;
}

.logofooter{
    width: 10%;
    height: 7%;
    float: right;
    margin-right: 12%;
    margin-top: 2%;
}

.img4{
    height: 100%;
    width: 100%;
}

.A{
    width: 120%;
    height: 10%;
    word-wrap: break-word;
    float: inline-end;

}

.bouton{
    position:fixed;
    height:30px ;
    width: 30px;
    bottom :20px;
    right: 10px;
}

.img5{
    width: 100%;
    height: 100%;
}

.auteur ,ul{
    list-style-type: none;
    text-decoration: none;
}

.or {                                           /* permet de modifier la couleur des balise de classe or */
color : #a37630;
}

                                                /* taille  de la video */
.video{
    height: 30%;
    width: 99%;
    margin-top: 5%;
}

.yt{                                                    /* block permettant de centrer la video */
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.lien1{
    font-size: 80%;
    color : grey;
}

.lien2{
    font-size: 80%;
    color : grey;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
    width: 35%;
}

.git{
    color:#a37630;
    height: 20%;
    width: 30%;
    float:right;
    margin-right:20%;
    margin-top: 1%;
    text-align: center;
    font-size: 90%;
}

.G{
    margin-top: 1%;
}

.gitimage{
    margin-top: 3%;
    width: 50%;
    height: 50%;
}

                                /*  Page Histoire  */

.début{           
    margin-top: 1%;
    margin-bottom: 2%;
}


.début2{           
    margin-top: 1%;
}

.titre1 {                       /*  titre a gauche  */
    color : #a37630;
    height: 40%;
    width: 40%;
    margin-left: 0.25%;
}

.titre2{                                  /*  titre a droite   */
    color : #a37630;
    width: 13%;
    margin-left: 87%;
}

.conteneur01{                           /*  contenue des partie  */
    display: flex;
    align-items: start;
    margin-top: 2%;
    border-top: solid;
    border-color: white;
    
}

.conteneur02{                           /*  déplacerle contenue   */
    display: flex;
    flex-direction: column;
    
}

.texte11
{
    height: 30%;
    width: 60%;
    margin-left: 5%;
    text-align: center;
    display:flex;
}
.texte22
{
    width: 60%;
    margin-top: 2%;
    margin-left: 35%;
    text-align: center;
    
}
.texte33
{
    height: 30%;
    width: 60%;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
}

.footH{
    margin-top: 15%;
}

                                        /* Pages Statistique */

table{                                                                     /* on centre le texte et colle les cellule entre elles */
    border-collapse: collapse;
    text-align: center;
}

td, th {                                                       /* on change la taille des cellule du tableau */
    border: 2px solid #a37630;
}

.contenue1{
    margin-top: 6%;
    margin-bottom: 2%;
}

table {                                         /* centrer le tableau verticalement */
    margin-right: auto;
    margin-left: auto;
}

.contenue1 th {                                              /* ajustement des cellule titre */
    font-size:125%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right:0.5em ;
}

.contenue1 td {                                                     /* ajustement des autre cellule  */
    font-size:125%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right:0.5em ;
}

.contenue3 {
    width: 80%;
    height: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30%;
}

.tab1{                          /* titre du tableau */
    margin-right: auto;
    margin-left: auto;
    height: 2%;
    width: 50%;
    text-align: center;
    margin-top: 2%;
}

.lien3 a{
    font-size: 80%;
    color : grey;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.lien3{
    font-size: 80%;
    color : grey;
    margin-top: 2%;
    margin-bottom: 2%;
}

.lienS{
    width: 55%;
    margin-right: auto;
    margin-left: auto;
}

.corpS{
    
    color:white;
    width: 100%;
    min-width: 900px;
    height:     1200px;
    min-height: 40%;
}

.menuS{
    margin-left: 2%;
    margin-right: auto;
    height: 100%;
    width: 98%;
    font-size: 2em;
}

.headerS{
    background-color: black;
    height: 6.7%;
    width: 100%;
    display:inline-block;
}

.menuS , a{
    text-decoration: none;
    color : white;

}

.titleS{
   
    height: 10%;
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.title1S{
    width: 50%;
    height: 100%;
    background-color: #a37630;
    float:left;

}

.titleTS{
    width: 50%;
    height: 100%;
    background-color: #a37630;
    float: right;
}

                                        /*  Page Bibliographie  */

.contenue2{                                         /* contenue du centre de la page (les articles)  */
    margin-top: 5%;
    height: 65%;
    width: 99%;
    margin-bottom: 5%;
    word-wrap: break-word;
}

.article{                                               /*  conteneur de l'enssemble des liens   */
    height: 100%;
    width: 55%;
    min-width: 35%;
    float: right;
}

.articleimg{                                    /*  Block de l'image  */
    width: 38%;
    height: 45%;
    float:left;
    margin-top: 16%;
    margin-left: 2%;
}

.img6{                                             /*  taille de l'image  */
    height:100%;
    width: 100%;
}
.corpB{
    
    color:white;
    width: 100%;
    min-width: 900px;
    height:    1550px;
    min-height: 40%;
}


.menuB{
    margin-left: 2%;
    margin-right: auto;
    height: 100%;
    width: 98%;
    font-size: 2em;
}
.headerB{
    background-color: black;
    height: 5.15%;
    width: 100%;
    display:inline-block;
}

.menuB , a{
    text-decoration: none;
    color : white;

}

.titleB{
   
    height: 7.75%;
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.title1B{
    width: 50%;
    height: 100%;
    background-color: #a37630;
    float:left;

}

.titleTB{
    width: 50%;
    height: 100%;
    background-color: #a37630;
    float: right;
}